{
  "extends": "vue",
  "plugins": ["html"],
  "settings": {
    "html/report-bad-indent": 2,
    "html/indent": "+2",
  },
  "rules": {
    "space-before-function-paren": "off",
    "no-useless-escape": "off",
    "prefer-const": "off"
  },
  "globals": {
    "$": true,
    "window": true
  }
}
