@media screen and (max-width: 1100px) {
	.navwrap {
		width: 900px;
	}
	.under-headertagline li {
		margin-right: 55px;
	}
	.nowmerge-moreinfowrapper {
		width: 900px;
	}
	ul.nowmerge-moreinfo li {
		width: calc(50% - 14px);
		margin-bottom: 60px;
	}
	.nowmerge-wrapper {
		height: 895px;
	}
	.lightningfast-sub {
		width: 900px;
	}
	.moreinfo-howfastwesubinner {
		width: 700px;
	}
	.moreinfo-howfastwe {
		padding: 0 30px;
		width: calc(100% - 60px);
	}
}
@media screen and (max-width: 960px) {
	.navwrap {
		width: 700px;
	}
	.headertag-high {
		-ms-transform: scale(0.85); /* IE 9 */
	    -webkit-transform: scale(0.85); /* Safari */
	    transform: scale(0.85);
	    margin-left: -33px;
	}
	.headertag-text {
		margin-top: 31px;
		margin-left: -76px;
		line-height: 47px;
		font-size: 51px;
	    position: relative;
		z-index: 1;
	}
	.headertag-text span {
		font-size: 43px;
	}
	.under-headertagline li {
		margin-top: 37px;
		margin-right: 38px;
		font-size: 15px;
	}
	.under-headertagline li:last-child {
		margin-right: 0;
	}
	.getstarted-wrap {
		margin-top: 236px;
	}
	.nowmerge-moreinfowrapper {
		width: 750px;
	}
	ul.nowmerge-moreinfo li {
		height: 206px;
	}
	.lightningfast-sub {
		width: 850px;
	}
	.asyncbid-ping {
		display: none !important;
	}
	.moreinfo-responsivebg {
		width: 100%;
	}
}
@media screen and (max-width: 850px) {
	.headermoreinfo-titlewrap {
		width: 700px;
	}
	.lightningfast-sub {
		transform: scale(0.82);
		margin-left: -76px;
	}
}
@media screen and (max-width: 850px) {
	.nowmerge-wrapper {
		height: 855px;
	}
	.nowmerge-title {
		font-size: 52px;
	}
	.nowmerge-desc {
		width: calc(100% - 40px);
		padding: 0 20px;
	}
	ul.nowmerge-moreinfo {
		margin-top: 63px;
	}
	.nowmerge-blueunder1 {
		width: 140px;
		left: -167px;
	}
	.nowmerge-blueunder2 {
		width: 180px;
		left: -115px;
	}
	.nowmerge-blueunder {
		top: 50px;
	}
}
@media screen and (max-width: 770px) {
	.navwrap {
		width: 550px;
	}
	.homepage-highimpactmiddle {
		width: 550px;
	}
	ul.highimpact-adlist li {
		margin-right: 0;
	}
	ul.highimpact-adlist li:nth-child(2n) {
		float: right;
	}
	.homepage-videowrapper {
		width: 550px;
	}
	.homepage-videodisplay {
		width: 550px;
		margin-left: 0;
	}
	.homepage-videobg {
		width: 550px;
		height: 339px;
		margin-left: -15px;
	}
	.under-headertagline {
		display: none;
	}
	.homepage-earningwrap {
		width: 550px;
	}
	.headertag-high {
		margin-left: 31px;
		-ms-transform: scale(1.2);
	    -webkit-transform: scale(1.2);
	    transform: scale(1.2);
	}
	.header-tagline {
		margin-top: 230px;
	}
	.headertag-text {
		margin-left: 0px;
		margin-top: -5px;
		width:100%;
		text-align: right;
		font-size: 75px;
		line-height: 46px;
	}
	.headertag-text span {
		font-size: 47px;
	}
	.getstarted-wrap {
		margin-top: 100px;
	}
	.homepage-headerarea {
		height: 800px;
	}
	.getstarted-learnmore {
		display: none;
	}
	.getstarted-startnow {
		text-align: center;
		background: #4596CB;
		border-radius: 2px;
		line-height: 47px;
		height: 49px;
		width: 100%;
		margin-top: 70px;
	}
	.getstarted-lineunder {
		display: none;
	}
	.homepage-earningwrap .startearningmore input {
		width: calc(100% - 40px);
		margin-right: 0;
	}
	.homepage-earningwrap .startearningmore submit {
		width: 100%;
	}
	.footerwrap {
		width: 550px;
	}
	.footerleft {
		width: 100%;
		margin-bottom: 50px;
	}
	.footercopy {
		clear: none;
		margin-top: 0;
		float: right;
	}
	.headermoreinfo-titlewrap {
		width: 550px;
		margin-top: -516px;
	}
	.lightningfast-title {
		background: url('images/lightningfastmobile.png');
		width: 731px;
		height: 169px;
		margin-left: -168px;
	}
	.lightningfast-sub {
		width: 700px;
	}
	.lightningfast-served {
		margin-top: 145px;
	}
	.moreinfo-howfastwesubinner {
		width: 550px;
	}
	.moreinfo-greatyieldtitle {
		font-size: 40px;
	}
	.moreinfo-yieldblueline {
		width: 250px;
		left: 169px;
	}
	.moreinfo-responsivebg {
		transform: scale(0.9);
	}
}
@media screen and (max-width: 690px) {
	.nowmerge-title {
		font-size: 60px;
	}
	.nowmerge-blueunder1 {
	    width: 156px;
	    left: -100px;
	}
	.nowmerge-blueunder2 {
	    width: 208px;
	    left: -35px;
	}
	.nowmerge-blueunder {
		top: 52px;
	}
}
@media screen and (max-width: 600px) {
	.navwrap {
		width: 480px;
	}
	ul.headernav li:nth-child(1), ul.headernav li:nth-child(2), ul.headernav li:nth-child(3) {
		display: none;
	}
	.header-tagline {
		margin-top: 190px;
	}
	.homepage-headerarea {
		height: 800px;
	}
	.headertag-high {
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		margin-left: 12px;
	}
	.getstarted-wrap {
		margin-top: 87px;
	}
	.headertag-text {
		margin-left: -15px;
	    margin-top: 16px;
	    font-size: 86px;
	    line-height: 48px;
	    letter-spacing: 2px;
	    text-align: left;
	}
	.headertag-text span {
		font-size: 50px;
	}
	.homepage-videowrapper {
		width: 480px;
	}
	.homepage-videobg {
		width: 480px;
		height: 268px;
	}
	.homepage-videodisplay {
		width: 480px;
	}
	ul.homepage-slickcarousel {
		margin-top: 55px;
	}
	.homepage-featuresarea {
		height: 492px;
	}
	.homepage-highimpacttitle {
		margin-top: 30px;
	}
	.left-leftusshow {
		width: 100%;
	}
	.right-leftusshow {
		width: 100%;
	}
	.homepage-highimpactwrapper {
		padding-bottom: 40px;
	}
	.homepage-earningtitle {
		margin-top: 60px;
	}
	.homepage-earningwrap .startearningmore {
		margin-bottom: 60px;
	}
	.footerwrap {
		margin-top: 39px;
	}
	.homepage-highimpactmiddle {
		width: 500px;
	}
	.homepage-earningwrap {
		width: 500px;
	}
	.footerwrap {
		width: 500px;
	}
	.footerright {
		display: none;
	}
	footer {
		margin-bottom: 0;
	}
	.footerwrap {
		margin-top: 27px;
	}
	.footerleft {
		margin-bottom: 23px;
	}
	.homepage-slickcontent {
	    width: calc(100% - 20px);
		padding: 0 10px;
		margin-top: 9px;
		font-size: 14px;
		line-height: 18px;
	}
	.homepage-slicktitle {
		margin-top: 9px;
		font-size: 18px;
		width: calc(100% - 20px);
		height: 42px;
		margin: 0px 10px;
	}
	.homepage-slickimage {
		margin-bottom: 21px;
	}
	ul.homepage-slickcarousel li {
		margin: 0 4px;
	}
	.logo {
		background: url('images/mobilelogo.png');
		width: 81px;
		height: 29px;
		/*margin-left: 50px;*/
	}
	.navmore {
		background: url('images/mobilenavmore.png');
		width: 33px;
		height: 28px;
	}
	.nowmerge-title {
		font-size: 64px;
	}
	.nowmerge-blueunder1 {
	    width: 165px;
	    left: -31px;
	}
	.nowmerge-blueunder2 {
	    width: 202px;
	    left: 36px;
	}
	.nowmerge-blueunder {
		top:58px;
	}
	.nowmerge-desc span {
	    font-weight: 400;
	    line-height: 29px;
	    margin-top: 15px;
	    float: left;
	}
	.nowmerge-moreinfowrapper {
		width: 100%;
	}
	ul.nowmerge-moreinfo {
		width: calc(100% - 40px);
		padding: 0 20px;
	}
	ul.nowmerge-moreinfo li {
		width: 100%;
		border-bottom: 2px solid #EEEEEE;
		margin-bottom: 34px;
	}
	ul.nowmerge-moreinfo li:last-child {
		border-bottom: none;
	}
	.nowmerge-wrapper {
		height: 1465px;
	}
	ul.highimpact-adlist {
		width: 462px;
	}
	ul.highimpact-adlist li {
		width: 150px;
	}
	.adlist-image {
		transform: scale(0.75);
		margin-left: -12px;
	}
	ul.homeadvertisers-list {
		width: 396px;
	}
	ul.homeadvertisers-list li {
		width: 33%;
		transform: scale(0.8);
		margin: 0 auto;
	}
	ul.highimpact-adlist li:nth-child(2n) {
		display: none;
	}
	ul.homeadvertisers-list li:nth-child(4) {
		clear: left;
		margin-top: 30px;
	}
	ul.homeadvertisers-list li:nth-child(5) {
		margin-top: 30px;
	}
	ul.homeadvertisers-list li:nth-child(6) {
		margin-top: 30px;
	}
	.homepage-advertiserswrap {
		height: 284px;
	}
	.homeadvertisers-title {
		font-size: 26px;
		margin-bottom: 30px;
	}
	ul.nowmerge-moreinfo li:last-child .nowmerge-moreimage {
		width: 132px;
	}
	.adlist-placeanytitle span {
		width: 130px;
		margin-left: -130px;
	}
	.getstarted-startnow {
		line-height: 48px;
	}
	ul.navoverlay-list li {
		padding: 0 30px;
	}
	.headermoreinfo-titlewrap {
		margin-top: -464px;
	}
	.lightningfast-title {
		transform: scale(0.8);
		margin-left: -158px;
	}
	.lightningfast-sub {
	    padding: 0 45px;
		margin-left: 0;
		width: calc(100% - 90px);
		transform: scale(1);
		font-size: 30px;
	}
	.lightningfast-served {
		margin-top: 151px;
	}
	.moreinfomap {
		width: 886px;
		margin-top: -50px;
	}
	.moreinfo-howfastwesubinner {
		width: 500px;
	}
	.moreinfo-responsivebg {
	    transform: scale(0.8);
		margin-left: -318px;
		width: 1207px;
	}
	.moreinfo-responsivebgwrap {
		overflow: hidden;
	}
	.moreinfo-responsivebgwrap {
		margin-top: 50px;
		margin-bottom: 25px;
	}
	.moreinfo-howfastwe {
		margin-top: 70px;
	}
	.moreinfo-howfastwrap {
		height: 1000px;
	}
	.moreinfo-greatyieldtitle {
		font-size: 31px;
		font-weight: 300;
	}
	.moreinfo-yieldblueline {
	    width: 124px;
	    left: 74px;
	}
	.moreinfo-asyncunderdesc {
		padding: 0 25px;
		width: calc(100% - 50px);
	}
	.moreinfo-howfastbg {
		display: none !important;
	}
}